{% extends 'base.html' %}
{% load static %}

{% block title %}
    Registrar Usuario
{% endblock title %}


{% block classname %}
    class="signup-page"
{% endblock classname %}
    

{% block content %}
    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>Registrarse</b></a>
            <small>¡Crea tu cuenta ya!</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {{ form.username.errors }}
                            {{ form.username }} 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {{ form.nombre }}  
                        </div>
                    </div>                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {{ form.password }}
                        </div>
                    </div>
                    {% if form.password2.errors  %}
                            {{ form.password2.errors }}
                    {% endif %}
                    <div class="input-group">
                         <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {{ form.password2 }}
                        </div>
                    </div>
           
                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a href="{% url 'users_app:iniciar-session' %}">inciar Sesion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/pages/examples/sign-up.js' %}"></script> 
{% endblock js %}
    