{% extends 'base-content.html' %}
{% load static %}
{% block css %}
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
     <!-- Colorpicker Css -->
     <link href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}" rel="stylesheet" />

     <!-- Dropzone Css -->
     <link href="{% static 'plugins/dropzone/dropzone.css' %}" rel="stylesheet">
 
     <!-- Multi Select Css -->
     <link href="{% static 'plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">
 
     <!-- Bootstrap Spinner Css -->
     <link href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css' %}" rel="stylesheet">
 
     <!-- Bootstrap Tagsinput Css -->
     <link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">
 
     <!-- Bootstrap Select Css -->
     <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
 
     <!-- noUISlider Css -->
     <link href="{% static 'plugins/nouislider/nouislider.min.css' %}" rel="stylesheet" />
{% endblock css %}
{% block title %}
    Abastecer productos y servicios
{% endblock title %} 

{% block content %}
<div class="block-header">
    <h2>Proveedores para <b>{{ producto.nombre }}/Abastecer</b> </h2>
</div>
<!-- Exportable Table -->
<div class="row clearfix">
    {% if exito %}
    <!-- Alerta -->
    <div class="alert bg-green alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <strong>{{ mensaje_a }}</strong> 
   </div>
   {% endif %}
   {% if error %}
   <!-- Alerta -->
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ mensaje_e }}</strong> 
    </div>
    {% endif %}
 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <center>
                        Abastecer Producto
                    </center>
                </h2>
            </div>
            <div class="body">
                <!-- Form -->
                <form method="post", enctype="multipart/form-data0">
                    {% csrf_token %}
                    {{ form.proveedor }}
                    <div class="col-md-6">
                        <p>
                            <b>Proveedor*:</b>
                        </p>
                        {{ form.producto.as_hidden }}
                        <br>
                        <p>
                            <b>Cantidad*:</b>
                        </p>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form.cantidad }}
                            </div>
                            <small>Formato: [0-9]</small>
                        </div>
                        <br><br><br><br>
                    </div>
                    <br>
                    <!-- Telefono -->
                    <br><br>
                    
                        <div class="col-12">
                            <br>
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </div>
                        <br>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- #END# Basic Examples -->
</div>
<!-- #END# Exportable Table -->
{% endblock content %}
{% block jstable %}
    <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
{% endblock jstable %}
{% block js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
{% endblock js %}